@model Przychodnia.Intranet.ViewModel.ChangePasswordViewModel


@{
    ViewData["Title"] = "Zmień hasło";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="page-title">Zmień hasło</h4>
<hr />
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <form asp-action="ChangePassword" asp-controller="Pracownicy">
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="form-group">
                <a href='javascript:history.go(-1)' class="btn btn-warning">Powrót</a>
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
            <input asp-for="Id" type="hidden" class="form-control" />
            @*wypisuje ew błędy*@
            <span asp-validation-for="Password" class="text-danger mt-2 d-block"></span>
            <span asp-validation-for="ConfirmPassword" class="text-danger mt-2 d-block"></span>
            @*  *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mt-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Nowe hasło</label>
                            <input asp-for="Password" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label">Powtórz nowe hasło</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}