@{
    ViewData["Title"] = "Dodaj użytkownika";
}

<h4 class="page-title">Użytkownik</h4>
<hr />
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="form-group">
            <a href='javascript:history.go(-1)' class="btn btn-warning">Powrót</a>
        </div>
        <div class="mt-4">
            <div>
                <a asp-action="DodajPacjenta" class="btn btn-primary mb-3">Dodaj pacjenta</a>
            </div>
            <div>
                <a asp-action="Create" class="btn btn-primary mb-3">Dodaj lekarza</a>
            </div>
        </div>
    </div>
</div>



