@model Przychodnia.Intranet.ViewModel.AktualnosciViewModel

@{
    ViewData["Title"] = "Dodaj aktualności";
}
<h4>Aktualność</h4>
<hr/>
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-warning">Powrót</a>
                <input type="submit" value="Zapisz" class="btn btn-primary"/>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Tytul" class="control-label">Tytuł</label>
                        <input asp-for="Tytul" class="form-control"/>
                        <span asp-validation-for="Tytul" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Odbiorca" class="control-label"></label>
                        @Html.DropDownListFor(model => model.Odbiorca, ViewBag.Recipients as IEnumerable<SelectListItem>, new {@class = "form-control"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" enctype="multipart/form-data">
                        <label asp-for="Foto" class="control-label "></label>
                        <div class="custom-file">
                            <input asp-for="Foto" class="custom-file-input" id="customFileImage" accept="image/*" multiple />
                            <label class="custom-file-label" for="customFileImage">Wybierz pliki..</label>
                        </div>
                        <span asp-validation-for="Foto" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Tresc" class="control-label">Treść</label>
                        @Html.TextAreaFor(model => model.Tresc)
                        <span asp-validation-for="Tresc" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>  
        document.addEventListener('DOMContentLoaded',() => {
                    var input = document.getElementsByClassName("custom-file-input")[0];
                    var label = document.getElementsByClassName("custom-file-label")[0];
                    input.onchange = (event) => {
                        label.innerHTML = event.target.files[0].name;
                    }
    
        });
    </script>
    <script>
          tinymce.init({
                          selector: 'textarea',
                          menubar:false,
                          statusbar: false,
                          language: 'pl'
                        });
    </script>
}