<link type="text/css" rel="stylesheet" href="~/css/site.css">
<section class="thankYouPage">
    <div class="thankYouPage-image">
        <div class="container">
            <div class="text-center thankYouPage-content" data-scrollax-parent="true">
                <h2>Dziękujemy</h2>
                <h4>Za zapisanie się do naszego newslettera</h4>
            </div>
        </div>
    </div>
</section>
<style>
    .thankYouPage {
        width: 100%;
        height: 80vh;
    }

    .thankYouPage-image {
        height: 100%;
        display: flex;
        align-items: center;
        background-position: center;
        background-image: url('lib/layout/images/bg1.jpg')
    }

    .thankYouPage-content {
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid #e22555;
        border-radius: 15px;
        max-width: 550px;
        margin: auto;
    }
</style>