@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <br /><br /><br /><br /><br /><br />
    <h2>Przepraszamy, żadanie nie może zostać spełnione.</h2>
    <a asp-controller="Home" asp-action="Index">Powrót do strony głównej.</a>
    <br /><br /><br /><br /><br /><br />
</div>