@model Przychodnia.App.ViewModel.PrzypomnijHasloViewModel

@{
    ViewData["Title"] = "Resetuj hasło";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p id="loginFailedMsg" class="text-danger"></p>


<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-login-image">
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Wprowadz nowe haslo</h1>
                        </div>
                        <form asp-action="Resetuj" asp-controller="Uzytkownik" class="user">
                            <div class="form-group row">
                                <div class="form-group col-sm-12">
                                    <input type="hidden" asp-for="Email" class="form-control form-control-user" placeholder="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Password" class="form-control form-control-user" placeholder="Haslo" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="ConfirmPassword" class="form-control form-control-user" placeholder="Powtórz hasło" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <input type="submit" value="Resetuj" class="btn btn-primary btn-user btn-block" />
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" asp-controller="Uzytkownik" asp-action="Resetuj">Nie pamiętasz hasła?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@{
    <script type="text/javascript">
        var viewBagValue = "@((string)ViewBag.loginFailed)"
        if (viewBagValue != null && viewBagValue != '') {
            document.querySelector('#loginFailedMsg').innerHTML = viewBagValue;
        }
    </script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}