@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="ftco-section">
    <div class="container">
        
        <section class="error-container">
            <span class="four"><span class="screen-reader-text">4</span></span>
            <span class="zero"><span class="screen-reader-text">0</span></span>
            <span class="four"><span class="screen-reader-text">4</span></span>
            
        </section>
        <div class="link-container">
            <h2 style="text-align:left">Przepraszamy</h2>
            <p>Żądana strona nie została znaleziona. Być może została usunięta lub przeniesiona. &nbsp;<a class="btn btn-danger dropright" asp-controller="Home" asp-action="Index">Powrót do strony głównej.</a></p>

        </div>

    </div>
</section>
@*<div class="container">
    <br /><br /><br /><br /><br /><br />
    <h2>Przepraszamy</h2>
    <p>Żądana strona nie została znaleziona. Być może została usunięta lub przeniesiona. &nbsp;<a asp-controller="Home" asp-action="Index">Powrót do strony głównej.</a></p>
    <br /><br /><br /><br /><br /><br />
</div>*@
