@model IEnumerable<Przychodnia.Data.Entities.Aktualnosc>

@foreach (var item in Model.TakeLast(4))
{
    <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class=""></span>
            </div>
            <div class="media-body p-2 mt-3">
                <h3 class="heading">@item.Tytul</h3>
                <p>@Html.Raw(@item.Tresc)</p>
            </div>
        </div>
    </div>
}