@model IEnumerable<Przychodnia.Data.Entities.Aktualnosc>


<div class="slider-item hero-image" style="background-image: url('lib/layout/images/bg1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row slider-text align-items-center" data-scrollax-parent="true">
        </div>
    </div>
</div>